body {
    margin: 0;
    padding: 0;
    background: rgb(10, 30, 42);
    font-family: 'Bai Jamjuree', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #555 #222;

    /* For WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px;
        transition: background 0.3s ease;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: #555;
    }

    /* For IE and Edge */
    -ms-overflow-style: thin;
}